language: android
jdk: oraclejdk8
sudo: false
android:
  components:
  - tools
  - tools
  - build-tools-25.0.3
  - android-25
cache:
  directories:
  - "$HOME/.gradle/caches/"
script:
- "./gradlew build jacocoTestReport"
after_success:
- bash <(curl -s https://codecov.io/bash)
deploy:
  provider: script
  script: "./gradlew bintrayUpload"
  on:
    tags: true
env:
  global:
    secure: QHXp0ua78CnXKl76LxC3YkuBihWl7McXZdNJvxoDbHpE7fufUHxp9yXMKQvT4CRCsjGc+3qJwio/fpkRVgruvHt9Ck3qbTLRz9MSR0APuqj+Ni2n2/LJrRBuqHQJwjsgmiRSdaNHerGRmm1XlfoKEV+prX4ctmfXZr1aUSXaxy75Ye+JZyCPPpTKi3m+uC4I6/OCFrR7pfp6HL4Ks6Ryt5bAR/jilT0e6VZ+C7QuLr/Ee2dOwWqrgFa3Vl/esKIrwCObpgFnaittUkSRHUrod7SFl+NYXY2uLyKQfqrHe2CPYFeoI8zX5hWhAYvKn8rcPESP6MjXnkKG8AKn1MgSne6XFYljDnDxEJhbMVDouCKf6vODOZoKTVXALJ30K+q3CE0ajXUXbg4rQd4tHkj2XYoq3yyHv3bPFBrl5bi60ibt1qGilN8cssVnrgJKG/XJjJJvWSnOSjWYARatB8JnIC82BQ6LEp1bLkgCkzJkxTXk6diqUi/NCmb9vIeOZlwDXBgBVQgFRUcPw/+z0IUdLKAxiPiTvDmUY9JnNRYp0HyKkzEbmAq7a8q7qEaHIYkFA8CmiW9n7SqoO540+h7VKlacpNBe6tzy0FdlK+HVCgoxNt+SjHXpcvydgfz2W32rP3L3u0sf6s+NC5YZhKfkp4SGJvJO8OYlS1hm5msrTfA=
